nav(class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top")
  div(class="container")
    a(class="navbar-brand" href="#") Start Bootstrap
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarResponsive")
      ul(class="navbar-nav ml-auto")
        li(class="nav-item active")
          a(class="nav-link" href="./index") Home
            span(class="sr-only") (current)
        li(class="nav-item")
          a(class="nav-link" href='./page2') Page 2
