doctype html
html(lang="fr")
  include includes/head.pug
  body
    include includes/nav.pug
    div(class="container")

      div(class="row")

        div(class="col-md-8")

          h1(class="my-4") Page Heading
            small Secondary Text

          div(class="card mb-4")
            img(class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap")
            div(class="card-body")
              h2(class="card-title") Post Title
              p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
              a(href="#" class="btn btn-primary") Read More
            div(class="card-footer text-muted")
              Posted on January 1, 2017 by
              a(href="#") Start Bootstrap

          div(class="card mb-4")
            img(class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap")
            div(class="card-body")
              h2(class="card-title") Post Title
              p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
              a(href="#" class="btn btn-primary") Read More
            div(class="card-footer text-muted")
              Posted on January 1, 2017 by
              a(href="#") Start Bootstrap

          div(class="card mb-4")
            img(class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap")
            div(class="card-body")
              h2(class="card-title") Post Title
              p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
              a(href="#" class="btn btn-primary") Read More
            div(class="card-footer text-muted")
              Posted on January 1, 2017 by
              a(href="#") Start Bootstrap

          ul(class="pagination justify-content-center mb-4")
            li(class="page-item")
              a(class="page-link" href="#") Older
            li(class="page-item disabled")
              a(class="page-link" href="#") Newer

        div(class="col-md-4")

          div(class="card my-4")
            h5(class="card-header") Search
            div(class="card-body")
              div(class="input-group")
                input(type="text" class="form-control" placeholder="Search for...")
                span(class="input-group-btn")
                  button(class="btn btn-secondary" type="button") Go!

          div(class="card my-4")
            h5(class="card-header") Categories
            div(class="card-body")
              div(class="row")
                div(class="col-lg-6")
                  ul(class="list-unstyled mb-0")
                    li
                      a(href="#") Web Design
                    li
                      a(href="#") HTML
                    li
                      a(href="#") Freebies
                div(class="col-lg-6")
                  ul(class="list-unstyled mb-0")
                    li
                      a(href="#") JavaScript
                    li
                      a(href="#") CSS
                    li
                      a(href="#") Tutorials

          div(class="card my-4")
            h5(class="card-header") Side Widget
            div(class="card-body")
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!

    include includes/footer.pug

  include includes/scripts.pug
