doctype html
html(lang="fr")
  include includes/head.pug
  body
    h1 Page 2
    include includes/nav.pug
    div(class="container")

      div(class="row")

        div(class="col-md-8")

          h1(class="my-4") Page Heading
            small Secondary Text

          div(class="card mb-4")
            img(class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap")
            div(class="card-body")
              h2(class="card-title") Post Title
              p(class="card-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
              a(href="#" class="btn btn-primary") Read More
            div(class="card-footer text-muted")
              Posted on January 1, 2017 by
              a(href="#") Start Bootstrap
    include includes/footer.pug
  include includes/scripts.pug
